<%- model_class = Workout -%>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2>My Workouts</h2>
  </div>

  <div class="col-md-2">
    <%= link_to new_workout_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2" id="workout-form" style="display:none;"></div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:workout) %></th>
      <th><%= model_class.human_attribute_name(:workout_date) %></th>
      <th><%= model_class.human_attribute_name(:completed) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="workouts">
    <%= render @workouts %>
  </tbody>
</table>