<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Workout date:</strong>
  <%= @workout.workout_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @workout.completed %>
</p>

<p>
  <strong>User:</strong>
  <%= @workout.User %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
